<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>로그인 후 홈페이지</title>
</head>
<body>
<div class="container-fluid" style="max-width: 1000px">
    <div class="text-center py-3">
        <h3>홈페이지</h3>
    </div>
    <h4 class="mb-3" th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>
    <div class="text-center py-3">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary w-25"
                        th:onclick="|location.href='@{/info}'|" >
                    회원 정보
                </button>
            </div>
        </div>
    </div>
    <div class="text-center py-3">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary w-75"
                        th:onclick="|location.href='@{/forum/list(pageIndex=1,pagingSize=10)}'|" >
                    게시판
                </button>
            </div>
            <div class="col">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-secondary w-75" type="submit">
                        로그아웃
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
